node_modules
# Keep environment variables out of version control
.env

/generated/prisma

.worktrees
.env.production
tests

backend-restarted.log
backend-dev.err.log
backend-dev.out.log


backend.log


